@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h3>Add a new Animal</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Breed)
  @Html.TextBoxFor(model => model.Breed)
  @Html.LabelFor(model => model.Age)
  @Html.TextBoxFor(model => model.Age)
  <input type="submit" value="Add a new furry friend"/>
}

<p>@Html.ActionLink("Show all animals", "Index")</p>