@{
  Layout = "_Layout";
}
<div class="container">

  @model AnimalShelter.Models.Animal

  <h2>Animal Info</h2>
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
  <h4>@Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age)</h4>
  <h4>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h4>
  <h4>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)</h4>
  <hr>
  <h4>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</h4>
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>